* {
  box-sizing: border-box; 
}

form {
  display: none;
  position: absolute;
  padding: 15px;
  width: 500px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #c0c0c0;

  * {
    display: block;
    width: 100%;
  }

  input {
    margin-bottom: 20px;
    border: 1px solid #000;
    height: 40px;
  }

  &.active {
    display: block;
  }
}